*{
    margin: 0;
    padding: 0;
}

.heading {
    margin: 1.8rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: .5rem;
}

.container {
    width: 25rem;
    margin: 1rem auto;
}

.billLabel{
    margin: 0rem 7rem;
}

#billAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem; 
    height: 2rem;
    width: 90%;
}

.next-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: 5rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.amountLabel {
    margin: 0rem 6rem;
}

#userAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem; 
    height: 2rem;
    width: 90%;
}

.check-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: 5rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.p-text{
    margin: .8rem 0rem;
    text-align: center;
    font-size: 1.3rem;
}

table {
    border: 2px solid black
}

td {
    border: 1px solid orange;
    margin: 1rem;   
    width: 13rem;
    height: 3.5rem;
}

.td-center {
    text-align: center;
}
