* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: #d7e3fc;
}

.heading {
    margin: 1.8rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: .5rem;
}

.container {
    background-color: #b6ccfe;
    width: 25rem;
    margin: 1rem auto;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px grey;
}

.billLabel{
    margin: 0rem 7rem;
}

#billAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem; 
    height: 2rem;
    width: 90%;
    border-radius: 1rem;
    border: none;
}

.next-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: 5rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.next-btn:hover {
    background-color: #80ced7;
}

.amountLabel {
    margin: 0rem 6rem;
}

#userAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem; 
    height: 2rem;
    width: 90%;
    border-radius: 1rem;
    border: none
}

.check-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: 5rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.check-btn:hover {
    background-color: #80ced7;
}

.p-text{
    margin: .8rem 0rem;
    text-align: center;
    font-size: 1.3rem;
}

table {
    border: 2px solid #4361ee;
}

td {
    border: 1px solid #003459;
    margin: 1rem;   
    width: 13rem;
    height: 3.5rem;
}

.td-center {
    text-align: center;
}
